.main{
	width: 100%;
	padding:20px;
	margin: 0;
}
.first{
	border: #f00 1px solid;
	width: 150px;
	height: 120px;
	float: left;
}
.second{
    border: #f00 1px solid;
    width: 150px;
    height: 100px;
    float: left;
}
.third{
	 border: #f00 1px solid;
    width: 150px;
    height: 100px;
    float: left;
}
.forth{
	border: #0f0 1px solid;
    width: 150px;
    height: 200px;
    float: left;
}